
<div style="margin-top:30px">
<%- for m in @meetings do -%>
<div class="meeting">
  <div class="date"><%= "#{m.datum.day}. #{m.datum.month}. #{m.datum.year}" -%></div>
  <%= link_to m.name, :controller => :meeting, :id => m.id, :action => :show -%>
</div>
<%- end -%>
</div>
